body {
    background-color: grey;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'myHeader myHeader myHeader'
    'cat1 cat2 cat3'
    'endScores endScores endScores'
    'loader loader loader'
    'buttonChangeCat score buttonNext'
    'picture picture answer1'
    'picture picture answer2'
    'picture picture answer3'
    'picture picture answer4';
}

.myHeader {
    grid-area: myHeader;
    text-align: center;
    background: #4CAF50;
    color: white;
    font: 30px bold;
}

.cat1 { grid-area: cat1; }

.cat2 { grid-area: cat2; }

.cat3 { grid-area: cat3; }

.endScores {
    grid-area: endScores;
    display: none;
    text-align: center;
    color: #eeeeee;
    background-color: #66c323;
    font: 30px bold;
    border-radius: 10%;
}

.picture {
    grid-area: picture;
    display: none;
}

.answer1 {
    grid-area: answer1;
    display: none;
}

.answer2 {
    grid-area: answer2;
    display: none;
}

.answer3 {
    grid-area: answer3;
    display: none;
}

.answer4 {
    grid-area: answer4;
    display: none;
}

button {
    background-color: black;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 200px;
}

#buttonNext {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
}

#buttonNext:hover {
    background-color: white;
    color: black;
}

#buttonChangeCat {
    background-color: #e08e16;
    color: white;
    border: 2px solid #e08e16;
}

#buttonChangeCat:hover {
    background-color: white;
    color: black;
}

.buttonChangeCat {
    grid-area: buttonChangeCat;
    display: none;
}

.buttonNext {
    grid-area: buttonNext;
    display: none;
}

.score {
    grid-area: score;
    font: 30px bold;
    color: white;
    text-align: center;
    border-radius: 50%;
    background: darkgreen;
    display: none;
    min-width: 95px;
    line-height: 50px;
}

.grid-container > div {
    text-align: center;
    padding: 10px;
    margin: 15px;
    word-wrap: anywhere;
}

img {
    max-width: 100%;
    height: auto;
}


/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.loader {
    display: none;
    grid-area: loader;
    position: relative;
    left: calc(50% - 100px);
    border: 40px solid #f3f3f3;
    border-radius: 50%;
    border-top: 40px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader > span {
    display: inline-block;
    animation: no-spin 5s alternate-reverse infinite;
    color: #eeeeee;
    font: 20px bold;
}

@keyframes no-spin {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

label {
    font: 30px bold;
    text-align: left;
    color: white;

}

label:first-letter {
    text-transform:capitalize;
}
